# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
.env/

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/

# VS Code
.vscode/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db
